
        header{
            background-color: #c2e610;
        }
        option{
            background-color: rgb(179, 250, 116);
        }
        .row{
            display:flex;
            justify-content:center;
            gap:3px;
        }
        table {
            border: 4px solid black;
            border-collapse: collapse;
            text-align: center;
        }
         th, td {
            border: 2px solid black;
            padding: 1px 2px;
        }